/*
Custom styles web DNC

Image credits: unsplash.com 
*/

* { box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
  overflow-y: scroll; overflow-x: hidden;
}


h1,h2,h3,h4,h5{
  color: #333;
}

a { text-decoration: none; }
a:hover{
  text-decoration: none;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}


/*============== Scroll up to  ==============*/

#toTop {
  display:none;
  text-decoration:none;
  position:fixed;
  bottom:10px;
  right:10px;
  overflow:hidden;
  width:51px;
  height:51px;
  border:none;
  text-indent:100%;
  background:url(../../../resources/assets/img/ui.totop.png) no-repeat left top;
}

#toTopHover {
  background:url(../../../resources/assets/img/ui.totop.png) no-repeat left -51px;
  width:51px;
  height:51px;
  display:block;
  overflow:hidden;
  float:left;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
  outline:none;
}

/*============== Scroll up to  ==============*/
/*
.row {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

.content {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 2% 50px;
}

.main_header .row .content { padding: 0; }


.dark { 
  background: #333; 
}
*/
/*
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 6;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    color: #fff;
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.hero h1 span{
  color: #3498db;
}

.hero h3{
    color: #fff;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/*============== Section titles ==============*/
.section{
  color: #000;
  text-align: center;
  font-size: 10px;
  margin-top: 40px;
}
.section h1 { 
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 3px #000000;
}
.section hr{
    border: 0;
    border-top: 1px solid #3498db;
    border-bottom: 1px solid #3498db;
    height: 0;
    width: 120px;
}

.section h1 span{
  color: #3498db;
}

.section h3{
  color: #fff;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /*z-index: 2;*/
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.slide-new{
  background-image: url(../../../resources/assets/img/slide1.jpg) !important; 
      background-size: cover;
    background-repeat: no-repeat;
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}

/*============== Service style ==============*/

.single_service{  
  margin-top: 80px;
  margin-bottom: 80px;
}
.single_service i{
  position: relative;
  overflow: hidden;
}

.single_service .ico{
  margin: 0 auto;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 30px;
  color: #3498db;
  line-height: 76px;
  background: rgba(195, 185, 185, 0.21);
  width: 80px;
  height: 80px;
  text-align: center;
  border: solid 4px #fff;
  outline: 1px solid #dddddd;
  }

  .single_service:hover .ico{
  color:#F3F1F1;
  background: #3498db;  
  cursor:pointer;
  -webkit-transition:  ease-out .5s;
  -moz-transition:  ease-out .5s;
  -o-transition:  ease-out .5s;
  transition: ease-out .5s;  
  }

  .single_service .ico:hover{
  color:#F3F1F1;
  background: #3498db;  
  cursor:pointer;
  -webkit-transition:  ease-out .5s;
  -moz-transition:  ease-out .5s;
  -o-transition:  ease-out .5s;
  transition: ease-out .5s;  
  }


.single_service .ico i{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* ===========work style===========*/

.work_area{
    background-color: #f8f8f8;
}


.work_section{
    margin-top: 60px;
    margin-bottom: 60px;
}

.work_section h1{
  text-transform: uppercase;
  font-weight: 600;
}

.work_section h1 span{
  color: #3498db;
}

.not-border{
  border: none;
}

.bs-example{
  margin-top: 30px;
  margin-bottom: 65px;
}

.bs-example .nav-tabs i{
  font-size: 50px;
  width: 80px;
  text-align: center;
}

@media only screen and (min-width : 765px) {

.bs-example .nav-tabs i{
  width: 57px;

 } 

}


@media (max-width: 764px){ 

.bs-example .nav-tabs i{
  font-size: 34px;
  width: 56px;
}

}

@media (max-width: 750px){ 

.bs-example .nav-tabs i{
  font-size: 20px;
  width: 15px;
}

}


.nav-tabs{
  border-bottom: none;
}


.tab-pane{
  border: 1px solid #ddd;
  padding: 42px;
  background-color:#ffffff; 
}


/* ===========getit style===========*/


.getit_area{
  background: #3498db;
}

.getit_area h1{
    color: #ffffff;
    font-size: 30px;
}

.getit_area span{
    color: white;
    font-weight: bolder;
    float: right;
}

.getit_section{
    margin-top: 40px;
  margin-bottom: 40px;
}


/* ===========team style cdbullones===========*/
.team_area{
  margin-top: 80px;
  margin-bottom: 150px;
}

.team_section{
  margin-top: 120px;
  margin-bottom: 10px;
  border: 4px solid #ddd;
}

.team_section figure{
    margin-top: -60px;
    top: -0px;
    left: 50%;
    display: block;
    margin-bottom: 30px;
}

.team_section img{
  width: 120px;
  border: 4px solid #ddd;
}

.team_section h3{
    color: #000;
    font-weight: 400;
    margin-bottom: 10px;
}

.team_section span{
    color: #777;
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
}

.team_section p{
    text-align: center;
    font-size: 18px;
    color: #777;
    margin: 20px;
}

.team_section:hover {
   background:rgba(221, 221, 221, 0.51);
   box-shadow: 5px 5px 5px #888888;
}

/* ===========Portfolio style===========*/

.portfolio_area{
  margin-top: 40px;
  margin-bottom: 40px;
}

.portfolio_section{

}

.portfolio_section h1{
  color: #3498db;
  text-transform: uppercase;
  font-weight: 600;
}

.portfolio_top{

}

.portfolio{

}



#info {
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;        
  background:#fcf8e3;
  border:1px solid  #fbeed5;
  width:95%;
  max-width:900px;
  margin:0 auto 40px auto;
  font-family:arial;
  font-size:12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

  #info .info-wrapper {
    padding:10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;

  }
  
  #info a {
    color:#c09853;
    text-decoration:none;
  }
  
  #info p {
    margin:5px 0 0 0;
  }


#filters {
  margin:1%;
  padding:0;
  list-style:none;
}

  #filters li {
    float:left;
  }
  
  #filters li span {
    display: block;
    padding:5px 20px;   
    text-decoration:none;
    color:#666;
    cursor: pointer;
  }
  
  #filters li span.active {
    background: #e95a44;
    color:#fff;
  }
 

 
#portfoliolist .portfolio {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  width:23%;
  margin:1%;
  display:none;
  float:left;
  overflow:hidden;
}

  .portfolio-wrapper {
    overflow:hidden;
    position: relative !important;
    background: #666;
    cursor:pointer;
  }

  .portfolio img {
    max-width:100%;
    position: relative;
  }
  
  .portfolio .label {
    position: absolute;
    width: 100%;
    height:40px;
    bottom:-40px;
  }

    .portfolio .label-bg {
      background: #e95a44;
      width: 100%;
      height:100%;
      position: absolute;
      top:0;
      left:0;
    }
  
    .portfolio .label-text {
      color:#fff;
      position: relative;
      z-index:500;
      padding:5px 8px;
    }
      
      .portfolio .text-category {
        display:block;
        font-size:9px;
      }
  
  
  



/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px; 
  }
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .container { 
    width: 95%; 
  }
  
  #portfoliolist .portfolio {
    width:48%;
    margin:1%;
  }   

  #ads {
    display:none;
  }
  
}


/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 70%;
  }
  
  #ads {
    display:none;
  }
  
}



/*============== Skill style ==============*/

.about_area{
    background: url(../../../resources/assets/img/slide-grey.jpg) no-repeat center top;
    margin-top: 0px;
    padding-top: 40px; 
    text-align: center;
    background-attachment: fixed;
    background-position: center center;
    min-height: 450px;
    width: 100%;
    background-size: cover;
}

.about-text{
  color :#fff;
}

.about-text p{
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000000;
}


/*============== Blog style ==============*/

.project_area{
  margin-top: 60px;
  margin-bottom: 100px;
}

.project_section{

}

.project_section h1{
  text-transform: uppercase;
  font-weight: 600;
}

.project_section h1 span{
  color: #3498db;
}

.single_project {
  margin-top: 30px;
}

.single_project a{
  text-decoration: none;
}

.single_project a:hover{
color: #282a2e;
}

.slider-content {
  position: relative;
  overflow: hidden;
  border-right: 1px solid transparent;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.slider-content img {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  overflow: hidden;
  width: 100%;
}

.slider-text {
  height: 100%;
  padding: 40px 40px 25px 40px;
  background: #F5F6FA;
  color: #7a8188;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}


.slider-content:hover .slider-text {
  background:#3498db;
}

.slider-content:hover  .slider-text p{
  color: #fff;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;   
}

.slider-content .slider-text h3 .slider-text p {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; 
}


.slider-content:hover .slider-text h3  {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; 
  color:#fff;
}

/*============== testimonial style ==============*/

.client_area{
  margin-bottom: 60px;
  margin-top: 60px;
}

.client_section{
  margin-bottom: 60px;
  margin-top: 60px;
}

.client_section h1{
 text-transform: uppercase;
 font-weight: 600;

}


.client_section h1 span{
  color: #3498db;
}

/*= Carousel style clients =*/
.owl-carousel .item{
    height: 150px;
    background: #03A9F4;
    /*padding: 1rem;*/
    
}

.owl-carousel .item:hover{
  box-shadow: 5px 5px 5px #888888;
  /*background:#1976D2;*/
}

.owl-carousel .item h4 {
    color: #FFF;
    font-weight: 400;
    padding-top: 40px;
}


.owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}

.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 25px 8px 15px 0px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
/*= End Carousel style clients =*/


/*============== Contact style ==============*/

.contact_area{
  margin-bottom: 100px;
  margin-top: 80px;
}

.contact-form {
    margin-top: 30px;
}

.address-space {
  margin-top: 30px;
  text-align: left;
  padding-left: 80px;
}
.address-space p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.social-space {
  margin-top: 60px;
  margin-bottom: 10px;
}

.form-effect {
    padding: 12px 12px;
    background-color: rgba(33, 42, 63, 0.2);
    color: #212A3F;
    height: auto !important;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

.btn-sub {
    color: #fff;
    background-color: #03A9F4;
    border-color: #fff;
    font-size: 18px;
    padding: 10px 30px;
}

.copyright_section{
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
  font-size: large;
  font-weight: bolder;
}

/* buton social*/
.social {
  padding: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
  text-decoration: none;
  border-bottom: none;
}
.social li a.social-box {
  background: #03A9F4;
  color: #fff;
}
.social li a.social-circle {
  background: #03A9F4;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  background: #393e46 !important;
}
.social.social-box a {
  background: #03A9F4;
  color: #fff;
}
.social.social-circle a {
  background: #03A9F4;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

/*Media Query Menu*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){

}

/* Tablet (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){

}

/****/
